In [7]:
import numpy as np 
import pandas as pd  
import sklearn
import matplotlib.pyplot as plt

Requirement already satisfied: xlrd in /Users/christianfreeman/anaconda3/lib/python3.7/site-packages (1.2.0)

In [20]:
df = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls', header=4 )
df.head(10)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN
5,Alfred Village,4089.0,5.0,0.0,NaN,0.0,3.0,2.0,46.0,10.0,36.0,0.0,NaN
6,Allegany Village,1781.0,3.0,0.0,NaN,0.0,0.0,3.0,10.0,0.0,10.0,0.0,0.0
7,Amherst Town,118296.0,107.0,1.0,NaN,7.0,31.0,68.0,2118.0,204.0,1882.0,32.0,3.0
8,Amityville Village,9519.0,9.0,0.0,NaN,2.0,4.0,3.0,210.0,16.0,188.0,6.0,1.0
9,Amsterdam,18182.0,30.0,0.0,NaN,0.0,12.0,18.0,405.0,99.0,291.0,15.0,0.0

In [26]:
list(df.columns)

['City',
 'Population',
 'Violent\ncrime',
 'Murder and\nnonnegligent\nmanslaughter',
 'Rape\n(revised\ndefinition)1',
 'Rape\n(legacy\ndefinition)2',
 'Robbery',
 'Aggravated\nassault',
 'Property\ncrime',
 'Burglary',
 'Larceny-\ntheft',
 'Motor\nvehicle\ntheft',
 'Arson3']

In [27]:
df['Rape\n(revised\ndefinition)1'].unique()

array([nan])

In [29]:
df = df.drop(columns='Rape\n(revised\ndefinition)1')
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN

In [31]:
df = df.rename(columns={'City':'city','Population':'population','Violent\ncrime':'violent_crime',
 'Murder and\nnonnegligent\nmanslaughter':'murder_manslaughter',
 'Rape\n(legacy\ndefinition)2':'rape',
 'Robbery':'robbery',
 'Aggravated\nassault':'aggravated_assult',
 'Property\ncrime':'property_crime',
 'Burglary':'burglary',
 'Larceny-\ntheft':'larceny_theft',
 'Motor\nvehicle\ntheft':'car_theft',
 'Arson3':'arson'}) 
df.head()

,city,population,violent_crime,murder_manslaughter,rape,robbery,aggravated_assult,property_crime,burglary,larceny_theft,car_theft,arson
0,Adams Village,1861.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN

In [33]:
df['arson'].fillna(0,inplace=True)
df.head()

,city,population,violent_crime,murder_manslaughter,rape,robbery,aggravated_assult,property_crime,burglary,larceny_theft,car_theft,arson
0,Adams Village,1861.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,0.0
4,Albion Village,6388.0,23.0,0.0,3.0,4.0,16.0,223.0,53.0,165.0,5.0,0.0

In [55]:
df.isnull().sum()

city                   0
population             0
violent_crime          0
murder_manslaughter    0
rape                   0
robbery                0
aggravated_assult      0
property_crime         0
burglary               0
larceny_theft          0
car_theft              0
arson                  0
dtype: int64

In [53]:
df.dropna(how='any', inplace=True )

In [56]:
df1=df[['city','property_crime','population','murder_manslaughter','robbery']]

In [58]:
df1['populationsq'] = df1['population']**2
df1.head()

/Users/christianfreeman/anaconda3/envs/Thinkful/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,city,property_crime,population,murder_manslaughter,robbery,populationsq
0,Adams Village,12.0,1861.0,0.0,0.0,3.463321e+06
1,Addison Town and Village,24.0,2577.0,0.0,0.0,6.640929e+06
2,Akron Village,16.0,2846.0,0.0,0.0,8.099716e+06
3,Albany,4090.0,97956.0,8.0,227.0,9.595378e+09
4,Albion Village,223.0,6388.0,0.0,4.0,4.080654e+07